.App {
  align-content: center;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.AddTodoContainer {
  margin: 0 auto;
  margin-top: 25px;
  background-color: #043357;
  width: 600px;
  text-align: justify;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.addTodoBox {
  margin: 2px;
  padding: 6px;
  border-radius: 20px;
  width: 445px;
}

.addButton {
  border-radius: 20px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 600;
  width: 130px;
}

.addButton:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.todoList {
  margin: 0 auto;
  margin-top: 25px;
  width: 600px;
  display: block;
  background-color: #045694;
  padding: 5px;
  border-radius: 15px;
  color: whitesmoke;
}

.todoItem {
  text-align: justify;
  color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: #043357;
  padding-left: 12px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 3px;
  border-radius: 15px;
}
